*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}

img{
    max-width: 100%;
}
p{
    font-size: 14px;
    font-weight: 400;
    color: #737373;
    margin: 0;
}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
}
hr{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
}
:root {
    --background-color: #EFF8ED;
    --header-color: #252B42;
    --text-color: #737373;
    --primary-color: #96BB7C;
    --secondary-color: #FFF;
    --danger-color: #E74040; 
}
.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 15px;
}
header{
    background-color:var(--background-color);
    padding: 20px 0px;
   
}
.logo {
    font-size: 24px;
    color:var(--header-color);
    font-weight: 700;
}
.nav-bar{
    flex: 1;
}
.nav-bar ul{
    display: flex;
    gap: 20px; 
}
.nav-bar li {
    list-style: none;
    position: relative;
    cursor: pointer;
}
.nav-bar li a:hover{
    color: var(--primary-color);
}
.nav-bar li a {
    text-decoration: none;
    color:var(--text-color);
    font-weight: 700;
    font-size: 14px;
    display: flex;
    padding: 20px 0px;
}
.drop-menu{
    display:flex;
    flex-direction: column;
    position: absolute;
    min-width: 150px;
    box-shadow: 0px 13px 19px 0px rgb(0 0 0 / 7%);
    background-color: var(--secondary-color);
    padding-left: 10px;
    visibility: hidden;
}
.nav-bar .drop-menu{
          gap: 0;
}
.down-drop::after{
    content: "\f0d7";
    font-family:"Font Awesome 6 Free";
    /* padding-left: 5px; */
    display: flex;
    /* align-items: center; */
}
.menu{
    display: flex;
    flex-direction: row;
}

.sub-drop-menu{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 100%;
    box-shadow: 0px 13px 19px 0px rgb(0 0 0 / 7%);
    background-color: var(--secondary-color);
    min-width: 150px;
    top: 0;
    padding-left: 10px;  
    visibility: hidden;
    margin-left: -20px;
}

.right-drop::after{
    content: "\f0da";
    font-family:"Font Awesome 6 Free";
    /* padding-left: 5px; */
    display: flex;
    align-items: center;

}
.nav-bar ul li a {
    /* display: flex; */
    gap: 5px;
    /* align-items: center; */

}
.nav-bar ul li a i{
    display: none;
}
.drop-label{
    display: flex;
    gap: 5px;
    /* align-items: center; */
}
.nav-bar .drop-menu .sub-drop-menu{
    gap: 0;
}
#checking,#drop-check,#sub_drop-check{
    display: none;
}
.check{
    display: none;
}
.nav-bar ul .btn{
    display: none;
}

.btn {
    border: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 5px;
    background: none;
    color:var(--primary-color);
    padding: 15px 25px;
    border: 1px solid transparent;
}
.filled-btn {
    color:var(--secondary-color);
    background-color:var(--primary-color);
    border-color:var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
}
.outline-button{
    border-radius: 5px; 
    border: 1px solid var(--primary-color); 
}
.header-buttons {
    display: flex;
    gap: 10px;
}
.head{
    display: flex;
    align-items: center;
    gap: 20px;
}
.banner-content{
    display: flex;
    gap: 30px;
}
.banner-section{
    background-color: var(--background-color);
}
.container-banner{
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 10px;
}
.content-text {
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    flex: 1;
}
.content-text h5 {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    margin: 0;
}
.content-text h1 {
    font-size: 58px;
    font-weight: 700;
    color: var(--header-color);
    margin: 0;
}
.content-text h4 {
    font-size: 20px;
    font-weight: 400;
    color: var(--text-color);
    max-width: 370px;
    margin: 0;
}
.banner-button {
    display: flex;
    gap: 10px;
}
.content-image{
    flex: 1;
}
.content-image img {
    display: block;
}
.app-section {
    padding: 112px 0px;
}
.header-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 112px;
}
.header-content h6{
    color:var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}
.header-content h2{
    font-size: 40px;
    color:var(--header-color);
    font-weight: 700;
    margin: 0;
}
.header-content p{
    max-width: 400px;
}
.column-card-content:hover{
    background-color: var(--primary-color);
}
.column-card-content:hover h5, .column-card-content:hover p{
    color:var(--secondary-color);
}
.column-card-content:hover h5::after{
    background-color: var(--secondary-color);
} 
.column-card-content h5{
    color:var(--header-color);
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.column-card-content h5::after{
    content: "";
    width: 50px;
    height: 2px;
    background-color: var(--danger-color);
    display: block;
}
/* .column-card-content hr{
    width: 50px;
    height: 2px;
    border: none;
    background-color:var(--danger-color);   
} */
.logo-picture {
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo-picture img{
    flex: 1;
}
.column-card-content{
    display: flex;
    padding: 35px 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    cursor: pointer;
}
.section-card{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 30px;
}
.hero-section{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.image-section{
    flex: 1;
}
.image-section img{
    display: block;
}
.hero-banner-section{
    display: flex;
    flex-direction: column;
    gap: 35px;
    justify-content: center;
    flex: 1;
}
.hero-banner-section h2{
    font-size: 40px;
    color:var(--header-color);
    font-weight: 700;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.hero-banner-section p{
    max-width: 350px;
}
.hero-banner-section h2::before{
    content: "";
    width: 90px;
    height: 4px;
    background-color: var(--danger-color);
    /* display: flex; */
}
.link-tag{
    color:var(--primary-color);
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.link-tag::after{
    content: "\f105";
    font-family: "Font Awesome 6 Free";
}
/* .hero-banner-section hr{
    width: 94px;
    height: 7px;
    background-color:var(--danger-color);
    border: none;
} */
.info-image img{
    border-radius: 20px;
    display: block;
}
.info-image{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.info-image i{
    color:var(--secondary-color);
    font-size: 20px;
}
.info-image button{
    background: var(--primary-color);
    border-radius: 50%;
    height: 90px;
    width: 90px;
    position: absolute;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-card{
    display: flex;
    flex-direction: column;
    max-width: 100%;
}
.product-image{
    position:relative;
}
.product-image img{
    display: block;
}
.label{
    background-color:var(--danger-color);
    border-radius: 3px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.10);
    color: var(--secondary-color);
    border: none;
    font-size: 14px;
    font-weight: 700;
    padding: 0px 10px;
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-section button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    background-color:var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-image .icon-section{
    position: absolute;
    width: 100%;
    bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sub-main{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}
.sub-text a{
    font-size: 14px;
    font-weight: 700;
    color:var(--primary-color);
    text-decoration: none;
    /* overflow: hidden;
    text-overflow:ellipsis;
    white-space:nowrap; */
}
.product-text{
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.product-text span i{
    padding-right: 10px;
}
.star button{
    border-radius: 20px;
    background-color: #2D4059;
    border: none;
}
.star button p{  
    /* padding: 5px; */
    color:var(--secondary-color);
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 20px;
}
.star button p i{
    color: #FFCE31;
}
.product-text h5{
    font-size: 14px;
    font-weight: 700;
    color: var(--header-color);
    margin-bottom: 0;
}
.text-span h6{
    font-size: 14px;
    font-weight: 700;
    color: #737373;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
}
.product-value h5{
    color: #BDBDBD;
    display: flex;
    gap: 5px;
    align-items: center;
}
.product-value span{
    color: #FFAB71;
}
.product-value{
    font-size: 16px;
    font-weight: 700;
}
.unfilled-button{
    border-radius: 37px;
    display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    width: 154px;
    border-radius: 37px;
    justify-content: center;
}
.card{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 30px;
}






.box{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    padding: 50px 40px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.07);
    position: relative;
}
.box:hover{
    background-color: #2D4059;
}
.box:hover h6,.box:hover h3,.box:hover p{
    color:var(--secondary-color);
}
.box-content-text{
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
}
.text-in-box{
    /* display: inline-block;
    padding: 29px 16px; */
    background-color: #E77C40;
    border-radius: 50%;
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-color);
    position: absolute;
    right: -29px;
    top: -46px;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-box {
    background: var(--primary-color);
    color: var(--secondary-color);
    font-size: 48px;
    border-radius: 50%; 
    width: 96px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--header-color);
    margin-bottom: 0;
}
.box h6{
    font-size: 14px;
    font-weight: 700;
    color:#737373;
    margin-bottom: 0;
    /* text-align: center; */
}
.box-text{
    text-align: center;
}
.box h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 0;
}
.text{
    color: #8EC2F2;
    font-size: 14px;
    font-weight: 700;
}
.box p {
    max-width: 200px;
    text-align: center;
}
.check-icon {
    border-radius: 50%;
    background-color:#2DC071;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
}
.btn-filled-txt{
    justify-content: center;
    width: 100%;
}
.check-text{
    font-size: 14px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: start;
    flex: 1;
}
.check-text p{

}
.box-text{
    width: 150px;
}
.check-mark{
    display: flex;
    gap: 5px;
    align-items: center;
}
.blur-icon {
    background-color: #BDBDBD;
}
.box-check-mark-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.price-sheet{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}



.feedback-content{
    text-align: center;
    flex: 1;

}
.feedback-image-section img{
    border-radius: 50%;
}
.feedback-text{
    font-size: 14px;
    font-weight: 700;
    color:var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
}
.rating{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.rating i{
    color: #F3CD03;
}
.feedback-text h5{
    font-size: 16px;
    font-weight: 700px;
    color: var(--header-color);
    margin-bottom: 0;
}
.feedback-text h6{
    font-size: 14px;
    margin-bottom: 0;
}
.feedback-section {
    display: flex;
    gap: 30px;
    align-items: center;
}

.email-section{
    display: flex;
    justify-content: center;
}
.email-section input{
    max-width: 550px;
    /* height: 56px; */
    color: var(--text-color);
    font-size: 14px;
    border-radius:5px 0px 0px 5px;
    border: 1px solid #E6E6E6;
    background: #F9F9F9;
    padding: 0px 0px 0px 20px;
    outline: none;
    width: 100%;
}
.email-section button{
    height: 58px;
    margin-left: -6px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #E6E6E6;
}
.color-section{
   background-color: #FFF2F3;
}
.header-title{
    display: flex;
    align-items: center;
}




.footer-info h5{
    font-size: 16px;
    font-weight: 700;
    color: var(--header-color);
    margin-bottom: 0;
}
.footer-info ul a{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-items: flex-start; */
    gap: 20px;
}
.footer-info li{
    list-style: none;
}
.footer-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.footer-info li i{
    color: var(--primary-color);
    font-size: 16px;
    max-width: 10px;
}
.footer-above{
    padding: 50px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    gap: 30px;    
}

.footer-btm-text h6{
    color: #737373;
    font-size: 14px;
    font-weight: 700;
    flex: 1;
    margin-bottom: 0;
}
.social-icons i{
    color: var(--primary-color);
}
.social-icons{
    display: flex;
    gap: 20px;
}
.footer-btm-text{
    display: flex; 
}
.footer-below{
    padding: 25px 0px;
    background-color: #FAFAFA;
}

/* MEDIA */

@media screen and (max-width:936px) {
    .content-image{
        display: none;
    }
    .content-text{
        align-items: center;
        padding: 30px 0px;
    }
    .content-text h1 {
        font-size: 34px;
    }
    .content-text h4{
        max-width: 590px;
    }
    .card{
        grid-template-columns: repeat(2,1fr);
    }
    .product-card{
        flex-direction: row;
    }
    .box-content-text{
        gap: 20px;
        border-right: 2px solid var(--primary-color);
        flex: 1;
    }
    .box-check-mark-content{
        flex: 1;
    }
    .product-image img{
        height: 100%;
    }
    .product-image{
        flex: 1;
    }
    .product-text{
        flex: 1;
        padding: 0px 0px 0px 25px;
    }
    .sub-main{
        gap: 5px;
    }
    .star button p{
        gap: 3px;
        max-width: 38px;
    }
    .product-text h5{
        font-size: 14px;
    }
    .logo{
       /* flex: 1; */
    }
    .head{
        gap:40px;
    }
    .section-card{
        grid-template-columns: repeat(2,1fr);
    }
    .price-sheet{
        grid-template-columns: 1fr;
    }
    .box{
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px 20px ;
        
    }
    .footer-above{
        grid-template-columns: repeat(3,1fr);
    }
    
    .text-in-box{
        display: none;
    }
    .footer-info ul a {
        font-size: 12px;
    }
    .header-content h6
    {
        font-size: 12px;
    }
    .header-content h2
    {
        font-size: 35px;
    }
    .header-content P
    {
        font-size: 12px;
    }
}
@media screen and (min-width:816px) 
{
    .menu:hover .drop-menu
    {
    visibility: visible; 
    transition: all ease-in-out 0.3s;
    opacity: 1;
    margin-top: 40px; 
    }
    .sub-menu:hover .sub-drop-menu
    {
    visibility: visible;
    margin-left: 0;
    opacity: 1;
    transition: all ease-in-out 0.3s;
    }

}
@media screen and (max-width:815px) 
{
    header{
        position: sticky;
        top: 0;
        z-index: 1;
        padding: 10px 0px;
    }
    .check{
        display: block;
        font-size: 22px;
    }
    .head{
        gap: 10px;
    }
    .nav-bar ul
    {
        left: -100%;
        transition: all ease-in-out 0.4s;
        top: 70px;
        width:320px;
        height: 100%;
    }
    .nav-bar ul li a i{
        display: unset;
    }
    .right-drop::after{
        transform: rotate(90deg);
    }
    #checking:checked ~ .nav-bar  ul{
        left: 0%;
        background-color: var(--background-color); 
    }
    .nav-bar ul .menu .drop-menu li
    {
        /* background: white; */
    }
    .drop-menu
    {
        display: none;
    }
    #drop-check:checked ~ .drop-menu  {
        display: unset;
        visibility: visible;
        position:static;
         box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 7%);
    }
    #checking:checked ~ .check i{
        opacity: 0;
        position: relative;
    }
   
    #checking:checked ~ .check::before{
        content: "\58";
       font-family: "Font Awesome 6 Free";
       position: absolute;
       opacity: 1;
       font-weight: 700;
    }
    /* #drop-check:checked ~.sub-drop-menu{
        visibility: hidden;
    } */
    .drop-menu li a{
        font-size: 12px;
    }
    #sub_drop-check:checked ~ .sub-drop-menu
    {
        visibility: visible;
        position: static;
          /* box-shadow: 10px 10px 10px 10px rgb(0 0 0 / 7%); */    
    }
    .drop-menu
    {
        margin-top: 50px;
       margin-left: -100px;
       /* padding-left: 40px; */
       max-width: 200px;

      
    }
    .nav-bar ul li
    {
        padding-left: 15px;
    }
    .nav-bar > ul
    {
        position: fixed;
        display: block;
        overflow-y: scroll;
        padding-bottom: 100px;
    }
    .drop-menu
    {
        display: block;
        /* left: 100px; */
        box-shadow: none;
       
    }
    .sub-drop-menu{
        box-shadow: none;
        max-width: 187px;
        padding-left: 5px;
    }

    .info-image{
        display: none;
    }
    .btn{
        padding: 15px;
    }
    .info-text h2::before{
        align-self: center;
    }
    .info-text{
        align-items: center;
    }
    .info-text p{
       text-align: center;
    }
    .card {
        grid-template-columns: repeat(1,1fr);
    }
    .product-image img{
        width: 100%;
        height: 280px;
        object-fit: cover;
    }
    .product-text{
        gap: 20px;
    }
    .content-text{
        text-align: center;
    }
    
}
@media screen and (max-width:538px){
    .header-buttons .btn{
        display: none;
    }
    .header-buttons .filled-btn{
        display: block;
    }
    .content-text h1{
        font-size: 26px;
    }
    .content-text h4{
        font-size: 16px;
    }
    .section-card {
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
    }
    .column-card-content{
        padding: 20px;
        box-shadow: 13px 13px 13px 13px rgba(0, 0, 0, 0.07);
    }
    .hero-section {
        flex-direction:column-reverse;
    }
    .hero-banner-section{
        text-align: center;
        align-items: center;
    }
    .hero-banner-section h2::before{
        margin: 0 auto;
    }
    .hero-banner-section h2{
        font-size: 30px;
    }
    .product-card{
        flex-direction: column;
        max-width: 100%;
    }
    .product-text{
        gap: 30px;
        padding:20px
    }
    .box{
        flex-direction: column;
    }
    .box-content-text{
        border: none;
    }
    .feedback-section{
        flex-direction: column;
    }
    .footer-above {
        grid-template-columns: repeat(2,1fr);
    }
    .footer-btm-text{
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
        text-align: center;
    }
    .nav-bar ul .btn{
        display: unset;
        border: 1px solid var(--primary-color);
        margin-left: 15px;
        padding: 10px 40px;
    }
    .nav-bar ul .filled-btn{
        display: none;
    }
    .app-section {
        padding: 60px 0px;
    }
    .header-content{
        padding-bottom: 74px;
    }
}
@media screen and (max-width:414px){
    .header-buttons {
        display: none;
    }
    .check{
        order: 2;
    }
    .btn{
        font-size: 12px;
    }
    
    .nav-bar ul {
        top: 49px;
    }
    .nav-bar ul .filled-btn{
        padding: 12px 20px;
        display: flex;
        margin-top: 20px;
    }
    .content-text h1 {
        font-size: 20px;
    }
    .content-text h4 {
        font-size: 14px;
    }
    .header-content h2 {
        font-size: 22px;
    }
    .hero-banner-section h2 {
        font-size: 24px;
    }
    .check-mark{
        gap: 8px;
    }
    .header-content{
        align-items: center;
    }
    .header-content P{
        text-align: center;
    }
    .footer-above {
        grid-template-columns: repeat(1,1fr);
    }
}




